.video-section {
    width: 100vw;
    height: 100vh; 
    margin-top: 0; 
    overflow: hidden;
    position: absolute;
}

.video-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
